streamlit
fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
matplotlib
plotly
gdown
scikit-learn==1.6.1
numpy
pandas
joblib
torch
transformers
email-validator
jinja2
httpx
huggingface-hub
fpdf2
torchvision
